version: '2'

services:
  zabbix-agent:
    image: zabbix/zabbix-agent:ubuntu-3.2.3
    environment:
      - ZBX_HOSTNAMEITEM=system.run[printf {{ zabbix_hostname_item }}]
      - ZBX_SERVER_HOST={{ zabbix_server_host }}
      - ZBX_STARTAGENTS=0
    volumes:
        - /:/rootfs
    restart: always
